* {
  box-sizing: border-box;
}
.page_wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(
    221,
    227,
    238,
    1
  ); /* Apply background color to the entire page */
}

/* Adjust background color for smaller screens */
@media (max-width: 768px) {
  .page_wrapper {
    background-color: rgba(
      221,
      227,
      238,
      0.8
    ); /* Example: reduce opacity for smaller screens */
  }
}

.main_container .logo {
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #9c6d6d; /* Choose your desired text color */
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.main_container .logo:hover {
  color: #ad5636; /* Choose your desired hover color */
}

.main_container .main_card {
  width: 90%; /* Adjusted width for responsiveness */
  max-width: 710px; /* Added max-width to limit width on larger screens */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  width: 710px;
  height: 500px;
  border-radius: 5%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); /* Adjust shadow values for desired effect */
  z-index: 1; /* Set a higher z-index to ensure it's above other elements */
}

.main_card .header {
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.main_card .form {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.main_card label {
  font-weight: 600;
  padding: 10px;
}
.main_card input {
  width: 95%;
  margin: 10px;
  height: 40px;
  background-color: rgba(232, 235, 242, 255);
  border: none;
  border-radius: 6px;
}

.main_card input[type="text"],
.main_card input[type="email"],
.main_card input[type="password"] {
  padding: 11px;
  font-size: 15px;
}

.main_card .input::placeholder {
  color: #677aa4;
}
.main_card .main_content {
  margin-top: -2px;
}

.main_card .main_content a {
  text-decoration-line: none;
  padding-left: 12px;
  color: #677aa4;
}

.main_card .main_content a:hover {
  color: rgb(26, 92, 229);
}

.main_card .main_content .btn {
  margin-top: 15px;
  margin-left: 10px;
  width: 95%;
  height: 35px;
  background-color: rgb(26, 92, 229);
  color: #ffff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

.main_card .main_content .btn:hover {
  color: aliceblue;
  background-color: rgb(59, 100, 182);
}

@media (max-width: 768px) {
  .main_container .main_card {
    width: 90%; /* Adjusted width for smaller screens */
  }
}
